{
  "presets": [
    "nodejs6",
    "stage-0",
    "react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./shared"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".styl",
          ".css",
          ".ico",
          ".svg",
          ".json",
          ".png"
        ],
        "alias": {
          "utils": "./utils",
          "png": "./shared/static/png"
        }
      }
    ],
    "lodash",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-es2015-parameters"
  ]
}