#app-view
  position absolute
  height 100%
  width 100%

#main-view
  position relative
  padding-top 43px
  max-width 1200px
  //min-height 100%
  margin-left auto
  margin-right auto
  background-color $theme-l7

#navbar
  position relative
  margin-left auto
  margin-right auto

.row
  display table
  position absolute
  vertical-align top
  padding 8px
  top 43px
  //background-color #fff
  .col
    display table-cell
    position relative
    vertical-align top
    padding 8px
    top 0
    bottom 8px
    &.sidebar
      position fixed
      margin-top 8px
      top 43px
      width 292px
    &.px900
      width 892px

.row:before, .row:after
  content ""
  display table
  clear both

.layout-sidebar
  position relative
  max-height 100%
  min-height 276px
  background-color white