#app-view
  max-width 1200px
  min-height 100%
  margin-left auto
  margin-right auto
  background-color white

.react-container
  padding-top 43px

.row
  display table
  position relative
  vertical-align top
  padding 8px
  background-color #fff
  .col
    display table-cell
    position relative
    vertical-align top
    padding 8px
    &.px300
      width 292px
    &.px900
      width 892px

.row:before, .row:after
  content ""
  display table
  clear both