@import './w3_v4.css';
@import './theme-colors.styl';
@import './animations.styl';
@import './layout.styl';
@import './timetable.styl';
@import './projects.styl';
@import './misc.styl';
@import './react-tabs.styl';
@import './tasks.styl';
@import './statistics.styl';
@import './customScroll.css';
//@import '../../node_modules/react-datepicker/dist/react-datepicker.css';
@import '../../node_modules/react-day-picker/lib/style.css';


color-working = #ffd449
color-idle = #90ee90
color-error = #ff645d

color-button-warning = #ffd449
color-button-safe = #90ee90
color-button-danger = #ff645d

color-task-bg = #79e7ff

color-sidebar-bg = #ffb17c

html, body
  margin 0
  padding 0

body
  font-family 'Roboto', sans-serif
  background-color $theme-l7

ul
  list-style none
  padding 0
  margin 0

.debug
  position fixed
  top 0

.navbar-message
  padding 8px 16px
  width 100%

.custom-drag-layer
  position absolute
  pointer-events none
  z-index 100
  left 0
  top 0


.drag-placeholder
  position fixed
  pointer-events none
  & *
    pointer-events none

.drag-offset
  position relative
  display none

.Alakrity-isWorking-working
  background-color color-working

.Alakrity-isWorking-idle
  background-color color-idle

.alakrity-spinner
  display inline-block
  margin 6.5px 6.5px 0 6.5px
  height 2rem
  width 2rem
  background-color saturate(lighten($theme-color-4, 20%), -20%)
  border-radius 50%
  box-shadow 0 0 0 1px $theme-dark

.alakrity-spinner-error
  background-color $theme-color-1

.alakrity-spinner-warning
  background-color $theme-color-2

.alakrity-spinner-animate
  border 6px solid
  border-top-color $theme-color-2
  border-right-color $theme-color-3
  border-bottom-color $theme-color-4
  border-left-color $theme-color-1
  -webkit-animation spin 2s ease infinite
  animation spin 2s ease infinite

