.manual
  position relative
  padding-top 8px
  max-width 1200px
  margin-left auto
  margin-right auto
  background-color $theme-l7

.manual-row
  top 0 !important

.dummy-button
  display inline-flex
  transform translateY(6px)
  cursor default
  pointer-events none

.manual-chapter
  margin 32px
  border-bottom solid 1px $theme
  &:last-child
    border none

.manual-list
  list-style disc
  padding-left 2em

.manual-p
  &>i
    color $theme
  &>em
    font-style normal
    color $theme