.no-underline
  text-decoration inherit

.login-sidebar
  width 100%
  background-color white

.auth-form
  display block

.auth-form-right
  text-align right
  padding 8px 0

.auth-form-login
.auth-form-create
  padding 0 4px

.auth-form-input
  margin 4px 0

.welcome
  background-color white

.navbar-button
  transition color .3s, background-color .3s
  &:active
    background-image radial-gradient(rgba(255, 255, 255, 0.2), transparent)

.labeled-icon-button
.icon-button
  display inline-block
  align-self center
  padding 0
  margin 4px
  background-color rgba(255,255,255,.93)
  transition color .3s, background-color .3s
  text-align center
  text-decoration none
  cursor pointer
  -webkit-appearance none
  &:not(.disabled):hover
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important
  &:not(.disabled):active
    background-image radial-gradient(rgba(255, 255, 255, 0.3), transparent)

.icon-button-wrapper
  display inline-block
  height 26px
  line-height 26px
  text-align center

.icon-button-label
  color $theme
  margin-right 8px
  display inline-block
  transform translateY(-6px)
  cursor pointer

.labeled-icon-button
  padding 0 8px
  margin 0
  display flex
  align-items center

.labeled-icon-button-label
  flex 1
  text-align left
  margin 0 8px

.labeled-icon-button-icon
  flex 0

.clock
  display inline-block
  pointer-events none
  line-height 43px

//.clock-wrapper
//  position relative
//  margin-left auto
//  margin-right auto
//  max-width 1200px
//  pointer-events none

.modal
  width 400px
  overflow hidden
  border solid 1px $theme-d3

.modal-header
  display inline-flex
  justify-content space-between
  width 100%
  height 35px
  padding 4px 16px
  align-items center

.modal-middle
  display flex
  min-height 200px

.modal-middle-left
  flex 0

.modal-middle-right
  flex 1

.modal-footer
  display inline-grid
  width 100%
  grid-template-columns 1fr 1fr 1fr
  grid-column-gap 16px
  align-items center
  height 43px
  padding 4px 16px
  text-align center

.loading-component
  position absolute
  top 100px
  left 50%

.mascot-image
  height 181px
  width 242px
  animation blend-in normal forwards 0.3s ease-out