.project
  display inline-block
  vertical-align top
  width 100%
  margin 4px 4px 4px 0
  padding 4px
  overflow hidden
  //&:after
  //  display block

.projects-list
  width 100%
  display block
  white-space nowrap
  overflow scroll

//.project-color-picker-content
//  height 100px
//  width 100px



.project-color-picker
  z-index 10