.react-tabs
  padding 4px
  &__tab-list
    margin: 0
    padding: 0
    border-bottom: 1px solid $theme
  &__tab
    display: inline-block
    background: none
    border-radius: 5px 5px 0 0
    border: 1px solid #ccc
    border-bottom: none
    position: relative
    list-style: none
    padding: 6px 12px
    cursor: pointer
    bottom: -1px
    &--selected
      border: 1px solid $theme
      color: black
      border-bottom: 1px solid transparent
      margin: 0
    &:focus
      outline: none
      &:after
        content: ""
        position: absolute
        border-radius: 6px 6px 0 0
        left: -2px
        right: -2px
        top: -2px
        bottom: 0
        border: 3px solid alpha($theme, 0.4)
        border-bottom: none
        //background: none
        z-index 5
  &__tab-panel
    display: none
    border-right: 1px solid $theme
    border-bottom: 1px solid $theme
    border-left: 1px solid $theme
    &--selected
      display: block
    &--disabled
      color: GrayText
      cursor: default