.task-item
  height 100%
  width 108px
  background-color white
  border solid 1px $theme
  text-align center
  .task-item-buttons
    position absolute
    top 0
    right 0

.task-item-edit
  margin 0
  min-height 2rem
  border-left-width 2px
  border-right-width 2px
  border-top-width 2px
  border-bottom-width 6px

.task-item-title-edit
  margin 6px 2px 1px 2px
  height 22px
  background-color rgba(255, 255, 255, 0.7)
  line-height 22px
  width auto
  text-align center

.task-item-info
  position relative
  box-sizing border-box
  display -ms-flexbox
  display flex
  -ms-flex-direction column
  flex-direction column
  justify-content center
  max-height 100%
  min-height 100%
  overflow hidden
  p
    margin 1px
    &.duration
      font-size small
      font-style italic

.task-item-handle
  width 108px
  height 15px
  line-height 10px
  bottom -13px
  color lighten($theme, 70%)
  cursor ns-resize

.task-list-view
  //box-sizing border-box
  position relative
  //min-height 30vh
  //max-height 30vh


.task-list-view-sidebar
  box-sizing border-box
  position absolute
  top 8px
  bottom 8px
  left 8px
  right 8px

.task-list-container
  position relative
  min-height 780px
  //max-height 90vh

.task-list
  position absolute
  top 0
  bottom 0
  //height 100%
  margin 8px 0
  list-style none
  overflow auto

.task-list-sidebar
  scrollbar-3dlight-color red

.task-list-item
  display flex
  margin-bottom 4px

.task-list-filter-radio
  position relative
  top 4px
  width 18px
  height 18px
  margin 0 4px 0 4px

.task-list-filter-label
  position relative
  margin 4px

.task-form
  margin-bottom 4px
  padding-top 4px
