$theme = #2d7eb4

$theme-l7 = lighten($theme, 70%)
$theme-l5 = lighten($theme, 50%)
$theme-l4 = lighten($theme, 40%)
$theme-l3 = lighten($theme, 30%)
$theme-l2 = lighten($theme, 20%)
$theme-l1 = lighten($theme, 10%)

$theme-d1 = darken($theme, 10%)
$theme-d2 = darken($theme, 20%)
$theme-d3 = darken($theme, 30%)
$theme-d4 = darken($theme, 40%)
$theme-d5 = darken($theme, 50%)

$theme-light = lighten($theme, 50%)
$theme-dark = darken($theme, 50%)

$theme-action = darken($theme, 50%)

$theme-text = $theme
$theme-border = $theme
$theme-hover = $theme
$theme-hover-text = darken($theme, 10%)
$theme-hover-border = darken($theme, 10%)

// Additional Colors

$theme-color-1 = #FF6F6F
$theme-color-2 = #FFE66F
$theme-color-3 = #6D58B0
$theme-color-4 = #59CC59
$theme-color-5 = #FFC16F
$theme-color-6 = #DEF66B
$theme-color-7 = #A648A6
$theme-color-8 = #4D7FA4


.w3-theme-l5
  color dark($theme-l5) ? #fff : #000 !important
  background-color $theme-l5 !important

.w3-theme-l4
  color dark($theme-l4) ? #fff : #000 !important
  background-color $theme-l4 !important

.w3-theme-l3
  color dark($theme-l3) ? #fff : #000 !important
  background-color $theme-l3 !important

.w3-theme-l2
  color dark($theme-l2) ? #fff : #000 !important
  background-color $theme-l2 !important

.w3-theme-l1
  color dark($theme-l1) ? #fff : #000 !important
  background-color $theme-l1 !important

.w3-theme-d1
  color dark($theme-d1) ? #fff : #000 !important
  background-color $theme-d1 !important

.w3-theme-d2
  color dark($theme-d2) ? #fff : #000 !important
  background-color $theme-d2 !important

.w3-theme-d3
  color dark($theme-d3) ? #fff : #000 !important
  background-color $theme-d3 !important

.w3-theme-d4
  color dark($theme-d4) ? #fff : #000 !important
  background-color $theme-d4 !important

.w3-theme-d5
  color dark($theme-d5) ? #fff : #000 !important
  background-color $theme-d5 !important

.w3-theme-light
  color dark($theme-light) ? #fff : #000 !important
  background-color $theme-light !important

.w3-theme-dark
  color dark($theme-dark) ? #fff : #000 !important
  background-color $theme-dark !important

.w3-theme-action
  color dark($theme-action) ? #fff : #000 !important
  background-color $theme-action !important

.w3-theme
  color dark($theme) ? #fff : #000 !important
  background-color $theme !important


.w3-text-theme
  color $theme-text

.w3-border-theme
  border-color $theme-border !important

.w3-hover-theme
  &:hover
    color dark($theme-hover) ? #fff : #000 !important
    background-color $theme-hover !important

.w3-hover-text-theme
  color $theme-hover-text !important


.w3-hover-border-theme
  &:hover
    border-color $theme-hover-border !important
